extends layout.pug 

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/classes.css

block content
      section#classSection     
        div.crd 
            div.crd-box
                div.crd-img
                    img(src="/static/img/c1.png")

                div.crd-content
                    p Brazilian Jiu-Jitsu (BJJ)   ....    
        div.crd  
            div.crd-box
                div.crd-img
                    img(src="/static/img/c2.jpg")

                div.crd-content
                    p Muay Thai   ......
        div.crd 
            div.crd-box
                div.crd-img
                    img(src="/static/img/c3.jpg")

                div.crd-content
                    p Taekwondo  ......    
        div.crd  
            div.crd-box
                div.crd-img
                    img(src="/static/img/k2.jpg")

                div.crd-content
                    p Kali & Krav Maga   ......
        div.crd 
            div.crd-box
                div.crd-img
                    img(src="/static/img/k1.jpg")

                div.crd-content
                    p Judo & Karate   .......    
        div.crd  
            div.crd-box
                div.crd-img
                    img(src="/static/img/k3.jpg")

                div.crd-content
                    p  Shin-Kicking & Aikido   ........
        div.crd 
            div.crd-box
                div.crd-img
                    img(src="/static/img/k6.jpg")

                div.crd-content
                    p kickboxing   .....    
        div.crd  
            div.crd-box
                div.crd-img
                    img(src="/static/img/k5.jpg")

                div.crd-content
                    p Chinese martial arts [Wing Chun & Jeet Kune Do]   .....
        div.crd 
            div.crd-box
                div.crd-img
                    img(src="/static/img/k10.gif")

                div.crd-content
                    p Shaolin Kung-Fu   .....    
        div.crd  
            div.crd-box
                div.crd-img
                    img(src="/static/img/Karate.jpg")

                div.crd-content
                    p  Sumo, Capoeira & Tai Chi   ......
        div.crd 
            div.crd-box
                div.crd-img
                    img(src="/static/img/logo.jpg")

                div.crd-content
                    p Boxing      ......    
        div.crd  
            div.crd-box
                div.crd-img
                    img(src="/static/img/k2.jpg")

                div.crd-content
                    p Wrestling     .....

        